#ep-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;

  &:hover {
    overflow: auto;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: unset;
  }
}
